#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  width: 97%;
  background-color: white;
  padding: 5%;
  margin-top: 3px;
  margin-left: 3px;
}
