.login__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px #cbcbca solid;
}

.login__header > img {
  height: 50px;
}

.login__container {
  margin-top: 50px;
  align-items: center;
}

.login__title {
  margin: auto;
  text-align: center;
}
